a {
  transition: unset;
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

section.page {
  h1::before {
    content: "" !important;
    color: #42a5f5;
    opacity: 0.7;
  }
  h2::before {
    content: "" !important;
    color: #42a5f5;/*rgb(255, 105, 105);*/
    opacity: 0.7;
  }
}

.active-menu-item {
  /*text-decoration: underline !important;*/
  border-bottom: 2.5px solid #42a5f5;
  padding-bottom: 1px;
}

.avatar img {
  width: 20rem;
  padding-bottom: 0.45rem;

  @media only screen and (max-width: 768px) {
    width: 18rem;
  }
}

.centered .about h1 {
    font-size: 4.1rem;
    padding-bottom: 0.4rem;
    @media only screen and (max-width: 768px) {
      font-size: 3.7rem;
    }
}

.centered .about h2 {
  font-size: 2.35rem;
  font-weight: 600;
}

.centered .about {
  ul li a {
    font-size: 1.6rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  ul li:last-child a {
    margin-left: 1rem;
  }
}

body {
  @media only screen and (max-width: 768px) {
    font-size: 1.7em;
    line-height: 1.7em;
  }
}

.content header {
  @media only screen and (max-width: 768px) {
    margin-top: 2.2rem;
    margin-bottom: 3.2rem;
  }
}

.navigation-link {
  font-size: 1.05em !important;
}

.navigation-title {
  font-size: 1em !important;
}

.wrapper {
  min-height: 100svh;
}

.colorscheme-toggle {
  cursor: pointer;
}

.heading-link {
  visibility: hidden !important;
}
