.main-content { max-width: 1100px; }

.gray-timeline { background-color: #e6ebf1; }
.gray-400 { background-color: #959da5; }
.gray-500 { color: #6a737d; }
.gray-700 { background-color: #444d56; }
.gray-900 { background-color:#24292e; }
.gray-900-text { color: #24292e; }
.blue-300 { background-color: #79b8ff; }
.blue-400 { background-color: #c3daf5; }
.blue-500 { background-color: #0366d6; }
.blue-800 { background-color: #032f62; }
.green-400 { background-color: #85e89d; }
.green-500 { background-color: #28a745; }
.yellow-400 { background-color: #ffdf5d; }
.yellow-500 { background-color: #ffd33d; }
.yellow-600 { background-color: #f9c513; }
.yellow-700 { background-color: #dbab09; }
.yellow-900 { background-color: #735c0f; }
.orange-400 { background-color: #fb8532; }
.orange-500 { background-color: #f66a0a; }
.orange-700 { background-color: #d15704; }
.red-300 { background-color: #f97583; }
.red-400 { background-color: #ea4a5a; }
.red-600 { background-color: #cb2431; }
.red-800 { background-color: #9e1c23; }
.purple-400 { background-color: #8a63d2; }
.purple-500 { background-color: #6f42c1; }
.purple-700 { background-color: #4c2889; }
.black { background-color: #1b1f23; }

.left-column { max-width: 350px; }
/*.right-column { width: 1050px; }*/
.summary-name {
  font-size: 26px;
  line-height: 30px;
}
.summary-subtitle { line-height: 24px; }
.summary-toolkit {
  height: 35px;
  display: inline-block;
  text-align: center;
  min-width: 70px;
}

.project-tile { margin-right: 14px; }
.project-tile:nth-child(2) { margin-right: 0; }

.research-list { padding-top: 0 !important; }
.research-list li {
  border-left: 2px solid #e16220;
  padding-left: 8px;
}
.research-list li:not(:first-child) {
    margin-top: 5px;
}

.timeline-stretch {
  flex-basis: auto;
  flex-grow: 2;
}
.timeline-horizontal { height: 1px; }
.timeline-line-top {
  height: 13px;
  width: 2px;
}
.timeline-circle-marker {
  height: 32px !important;
  width: 32px !important;
  border-radius: 100px;
}
.timeline-line-bottom { width: 2px; }

.pinned-list { flex-direction: column; }
.pinned-item { flex: 48%; }
.language-indicator {
  top: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.container { display: none; }

.dummy-tile { display: none !important }

.avatar { transform: scale(0.9); }

.f4 {
  font-size: 18px !important;
}

@media (min-width: 600px) {
  header { height: 20px; }
  .column-container { flex-wrap: nowrap !important; }
  .left-column { 
    padding-right: 16px;
  }
  .right-column { padding-left: 8px; }
  .avatar { transform: scale(1.0) !important }
}

@media (min-width: 768px) {
  .left-column {
    padding-right: 24px;
  }
}

@media (min-width: 860px) {
  .pinned-list { flex-direction: row; }
  .dummy-tile { display: flex !important }
  .left-column {
    padding-right: 24px;
  }
}

@media (min-width: 1012px) {
  .p-responsive {
      padding-right: 40px !important;
      padding-left: 40px !important;
  }
}

/*@media (min-width: 1010px) {
  .container {
      width: 725px;
      display: flex;
  }
  .dummy-tile { display: flex !important }
}*/

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5C8DF6;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}
